<!--
<div class="navbarContainer">
  <app-navigation-bar></app-navigation-bar>
</div>
<div class="content">
  <ng-scrollbar>
    <div class="first-rect">
      <div class="div-name">
        <div class="name">François</div>
        <div class="name">Brassart</div>
      </div>
    
      <div class="div-introduction">
        <div class="introduction-title">Introduction</div>
        <div class="introduction-body">Mobile and Web Software Engineer based in Lille.</div>
      </div>
    </div>
    <div class="second-rect"></div>
      <-- content ->
    </ng-scrollbar>
</div>
-->

<div style="background-color: #8395A7;width:100vw;height:100vh;">
  <div style="display:flex;justify-content: center; padding-top:3vh;">
    <ng-lottie   width="80vw" height="80vh" [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
  </div>
  <div style="display:flex;justify-content: center; padding-top:5vh;font-size: xxc-large; color:#F5D100;font-family: bebas-neue;">
    <div>FRANCOIS BRASSART</div>
  </div>
</div>
